.post {
    border: 1px solid $black;
    padding: .2rem;
    position: relative;
    width: 100%;
    max-width: 420px;
}

.post .header {
    background-color: $black;
    color: $white;
    padding: 8px;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
}

.post .body {
    padding: .5rem 2rem;
    font-size: 1rem;
    line-height: 1.75rem;
}

.post .body .deceased_full_name_lg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.75rem;
    line-height: 3.25rem;
    font-weight: 600;
    margin: 1rem;
}

.post .body .lifespan {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    margin: 1rem 0;
}

.post .body .images_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
}

.post .body .images_wrapper .image {
    height: 140px;
    width: 110px;
    overflow: hidden;
}

.post .body .images_wrapper .image img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: center;
}

.post .body .images_wrapper .symbol {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.25rem;
}

.post .body .images_wrapper .symbol img{
    height: 60px;
    width: auto;
}

.post .body .intro_message {
    text-align: center;
    overflow-wrap: break-word;
    margin: 2rem 0 1rem 0;
}

.post .body .deceased_full_name_sm {
    text-align: center;
    text-transform: uppercase
}

.post .body .deceased_main_message {
    text-align: center;
    overflow-wrap: break-word;
    margin: 1rem 0 2rem 0;
}

.post .body .signature {
    text-align: center;
    overflow-wrap: break-word;
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: bold;
}
