.post {
    padding: .2rem;
    position: relative;
    width: 100%;
}

.main_post {
    width: 100%;
}

@media screen and (min-width: 769px) {
    .post {
        max-width: 60%;
    }
}

.post.border_special,
.main_post.border_special {
    border: solid;
    border-image: url(./../img/border_vector.svg);
    border-image-slice: 35;
    border-image-width: 30px;
    border-image-repeat: round;
    padding-bottom: 1.75rem;
}

.post.border_classic,
.main_post.border_classic{
    border: 1px solid $black;
}

.post .header,
.main_post .header {
    background-color: $black;
    color: $white;
    padding: 8px;
    font-size: 1rem;
    line-height: 1.25rem;
    text-align: center;
}

.post.border_special .header,
.main_post.border_special .header{
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
}

.post .body,
.main_post .body {
    padding: 1rem 3rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.post .body .deceased_full_name_lg,
.main_post .body .deceased_full_name_lg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.75rem;
    line-height: 3.25rem;
    font-weight: 600;
    margin: 1rem;
}

.full_post_wrapper .deceased_full_name_lg {
    font-size: 1.75rem;
    line-height: 3.25rem;
    font-weight: 400;
    text-align: center;
}

.post .body .lifespan,
.main_post .body .lifespan {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .875rem;
    font-weight: 500;
    margin: 1rem 0;
}

.full_post_wrapper .lifespan {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.125rem;
    font-weight: 500;
}

.post .body .images_wrapper,
.main_post .body .images_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem 0;
    gap: 1.25rem;
}

.post .body .images_wrapper .image,
.main_post .body .images_wrapper .image,
.full_post_wrapper .image {
    overflow: hidden;
    border: 1px solid $black;
    padding: 2px;
}

.post .body .images_wrapper .image img,
.main_post .body .images_wrapper .image img {
    height: 140px;
    width: 110px;
    object-fit: cover;
    object-position: center;
}

.full_post_wrapper .image img {
    height: 210px;
    width: 165px;
    object-fit: cover;
    object-position: center;
}

.post .body .images_wrapper .symbol,
.main_post .body .images_wrapper .symbol {
    display: flex;
    align-items: center;
    justify-content: center;
}

.post .body .images_wrapper .symbol img,
.main_post .body .images_wrapper .symbol img {
    height: 60px;
    width: auto;
}

.post .body .intro_message,
.main_post .body .intro_message {
    text-align: center;
    overflow-wrap: break-word;
    margin: 2rem 0 1rem 0;
}

.full_post_wrapper .intro_message {
    text-align: center;
    font-size: 1rem;
    line-height: 1.75rem;
}

.post .body .deceased_full_name_sm,
.main_post .body .deceased_full_name_sm {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase
}

.full_post_wrapper .deceased_full_name_sm {
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.75rem;
}

.post .body .deceased_main_message,
.main_post .body .deceased_main_message {
    text-align: center;
    overflow-wrap: break-word;
    margin: 1rem 0 2rem 0;
}

.full_post_wrapper .deceased_main_message {
    text-align: center;
    overflow-wrap: break-word;
    font-size: 1.125rem;
    line-height: 2rem;
}

.post .body .signature,
.main_post .body .signature {
    text-align: center;
    overflow-wrap: break-word;
    font-size: .75rem;
    line-height: 1.25rem;
    font-weight: bold;
}

.full_post_wrapper .signature {
    font-size: .825rem;
    line-height: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.text-counter-success {
    color: $white;
}

.text-counter-danger {
    color: $red;
}

.font-weight-500 {
    font-weight: 500;
}

.full_post_wrapper {
    padding: 3rem 4rem;
}

.post-price-box {
    background-color: $black;
    color: $white;
}

@media screen and (max-width: 768px) {
    .full_post_wrapper {
        padding: 2rem 2rem;
    }
}
